services:
  fastapi:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - WATCHFILES_FORCE_POLLING=true
      - PYTHONUNBUFFERED=1
    volumes:
      - ./app:/app
    depends_on:
      - mqtt5
      - mongo
      - redis
      - celery
    restart: unless-stopped
    networks:
      - cleverleafy
      - default

  mqtt5:
    image: eclipse-mosquitto
    container_name: yuyo-mqtt5
    ports:
      - "1883:1883"
      - "9001:9001"
    user: "${UID}:${GID}"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_PASSWORD}
    volumes:
      - ./mongodb/mongo_data:/data/db
      - ./mongodb/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  celery:
    build: .
    command: celery -A celery_app.celery_app worker --loglevel=info
    volumes:
      - ./app:/app
    env_file:
      - .env
    depends_on:
      - redis
      - mongo
    restart: unless-stopped

  flower:
    container_name: flower
    build: .
    command: celery -A celery_app.celery_app flower --port=5555
    volumes:
      - ./app:/app
    env_file:
      - .env
    ports:
      - 5555:5555
    depends_on:
      - fastapi
      - redis
      - celery

volumes:
  config:

networks:
  cleverleafy:
    name: cleverleafy
    driver: bridge